{% extends "base.html" %}

    {% block title %} Guitarres Finals {% endblock %}
    
    {% block extra-head %}
    {% load static %}  
        <link href="{%static "css/global.css" %}" rel="stylesheet">
        <link href="{%static "css/llista_grups.css" %}" rel="stylesheet">
        <link href="{%static "css/llista_guitarres.css" %}" rel="stylesheet">
    {% endblock %}
    
    {% block content %}
   <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url "guitarra:index" %}">Triala.cat</a>
          </div>
          
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <div id="user">
              <ul class="nav navbar-nav"> 
                    <li><a href="{% url "usuaris:modificar_perfil"%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} </a></li></ul>
                <ul class="nav navbar-nav"> 
                   <li><a href="{% url "usuaris:logout" %}"><span title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
              </ul>     
            </div>
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}
      </ul>
      
      </nav>
      
      
    <div class="tit">
        <h1>Guitarres</h1>
    </div>    
    <div id="container">
        
          
         {% if list_guitarres %}
            <ul class="list-group">
            {% for guit in list_guitarres %}
                 <a href="{% url "guitarra:guitarra_informacio" guit.0 %}"><li class="list-group-item">
                     <div class="grup">
                       <div class="foto_grup col-md-4"><img src="{%if guit.11 %}/media/{{guit.11}}{% endif%}"  class="img-responsive img-rounded guitarra-f" ></div>
                       <div class="nom_grup col-md-4">{{guit.1}}</div>
                       <div class="guitarrista col-md-4">{{guit.2|truncatechars:150}}</div>
                       
                  </div>
                </li></a>    
            {%endfor%}
        {% else %}
            <div class="no_results">-No hi ha resultats-</div>
        {%endif%}
        
        
        
        
    </div>    
    {% endblock %}