{% extends "base.html" %}

    {% block title %} Triala Homepage {% endblock %}
    
    {% block extra-head %}
    {% load static %}  
        <link href="{% static "css/global.css"%}" rel="stylesheet">
    {% endblock %}
    
    {% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand logoss" href="{% url "guitarra:index" %}">Triala.cat</a>
          </div>
          
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <div id="user">
              <ul class="nav navbar-nav"> 
                    <li><a href="{% url "usuaris:modificar_perfil"%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} </a></li></ul>
                <ul class="nav navbar-nav"> 
                   <li><a href="{% url "usuaris:logout" %}"><span title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
              </ul>     
            </div>
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}
      </ul>
      
      </nav>
 

   
      
      
      
      
      
      
      
      
    <div id="container">
        
       
      
        <div id="titol"><h1>Com vols triar la teva guitarra?</h1></div>
        
        <div class="row">
            <a href="{% url "guitarra:grups" %}"><div class="col-md-4 tot"><div id="grup" class="prim-button tria"></div><h3 class="subtitol">Sonar com...</h3></div></a>
            <a href="{% url "guitarra:estils" %}"><div class="col-md-4 tot"><div id="estil" class="prim-button tria"></div><h3 class="subtitol">Estil de música</h3></div></a>
            <a href="#"><div class="col-md-4 tot"><div id="components" class="prim-button tria"></div><h3 class="subtitol">Components</h3></div></a>
        </div>
           
       
       
       
    </div>    
    {% endblock %}
