{% extends "base.html" %}

    {% block title %} Número de cordes {% endblock %}
    
    {% block extra-head %}
    {% load static %}  
        <link href="{%static "css/global.css" %}" rel="stylesheet">
        <link href="{%static "css/llista_grups.css" %}" rel="stylesheet">
    {% endblock %}
    
    {% block content %}
   <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url "guitarra:index" %}">Triala.cat</a>
          </div>
          
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <div id="user">
              <ul class="nav navbar-nav"> 
                    <li><a href="{% url "usuaris:modificar_perfil"%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} </a></li></ul>
                <ul class="nav navbar-nav"> 
                   <li><a href="{% url "usuaris:logout" %}"><span title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
              </ul>     
            </div>
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}
      </ul>
      
      </nav>
      
    <div class="tit">
        <h1>Tria el número de cordes</h1>
    </div>    
      
    <div id="container">
        
       
            <ul class="list-group">
                
                {% for corda in forma_cordes %}
                
                    <a href="{% url "guitarra:fusta_c" formes.id corda.id %}"><li class="list-group-item">
                       {{corda.num}}
                       
                    </li></a>   
                {%endfor%}
            
            
        
        
        
        
        
    </div>    
    {% endblock %}    