body{
    background-image: url(/static/images/bacblack.png);
    background-color: #333 !important;
    color:white;
    margin: 0 0 65px;
}

.tit{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}


.edita{
    margin-top:10px;
}

#logo{
   width:10%;
   height:40px
}

.logoss{
    display: flex;
    flex-direction:row;
}

#titol{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
    color:#333;
}

.jumbotron{
    border-radius:4px;
    background-color: rgba(255,255,255,0.5);
}

.subtitol{
    text-align:center;
    margin-top:28px;
}

.prim-button{
    border: 6px solid #333;
    padding:10px;
    border-radius:200px;
    margin:auto;
}


.logo-cent{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#grup{
    background-image: url("/static/images/icon_grup.png");
}

#estil{
    background-image: url("/static/images/notes.png");
}

#components{
    background-image: url("/static/images/guitar.png");
}



#container{
    width:75%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-image: url(/static/images/whiteback.png);
    
    -webkit-box-shadow: 0px 0px 42px 26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px 26px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px 26px rgba(0,0,0,0.75);
}

.no_results{
    color:#333;
    padding:10px;
    text-align: center;
}

.comenca{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin:auto;
}

.bot{
    padding:10px;
}



#cont{
    padding:20px;
}

#container-grup{
    width:100%;
}

a{
    color:#333;
}

#busca-grup{
    width:75%;
    margin:auto;
}

.busca{
    margin-left: -30px;
}

html{
    position: relative; 
    min-height: 100%;
}
.footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 100px;
   
}

.foo{
    height: 100%;
    margin-bottom: 0;
}

textarea {
   resize: none;
}

#myCarousel{
    margin-top:-20px;
}

.botons-esborra{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
}

.esb{
    color:white !important;
}


.prim{
    background-image: url(/static/images/stratos.jpg);
    
    
}

.sec{
    background-image: url(/static/images/lespaul.jpg);
    
}

.terc{
    background-image: url(/static/images/telecaster.jpg);
    
}

.tot{
    margin-bottom: 80px;
}

@media only screen and (min-width:900px){
        /* styles for browsers larger than 960px; */
    .tria{
        width:250px;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .tot:hover{
        transform:scale(1.2);
        transition:0.5s;
    }
    
    .img-car{
    
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        width:100%;
        height:500px;
    }
    
    .panell-esborra{
        width:75% !important;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
        border-radius:4px;
    }
    
    .fes-backup{
        width:75%;
        margin:auto;
        margin-bottom:10px;
    }
    
    


  
}

@media only screen and (max-width:899px){
       /* default iPad screens */
      .tria{
        width:200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .tot:hover{
        transition:0.5s;
    }
    
    .prim-button:hover{
        background-color:white;
    }
    
    .img-car{
    
        background-repeat: no-repeat;
        background-position:center;
        background-size: auto;
        width:100%;
    }
    
    
    .panell-esborra{
        width:75% !important;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
        border-radius:4px;
    }
    
    .fes-backup{
        width:100%;
        margin:auto;
        margin-bottom:10px;
    }
    

     
}