.grup{
    display: flex;
    flex-direction:row;
}

.nom_grup{
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.guitarrista{
    display: flex;
    flex-direction:column;
    justify-content:center;
}

li{
    background-color:#202020 !important;
}

li:hover{
    background-color:#333 !important;
}