body{
    background-image: url("/static/images/backguitar.jpg");
    background-repeat:no-repeat;
    background-position: center; 
    background-size:auto;
}

#formulari{
    display: flex;
    flex-direction:column !important;
    justify-content:center !important;
}

#container{
    background:none !important;
    box-shadow: none !important;
}

.form-group{
    width:100% !important;
}

input{
    width:100% !important;
    padding:10px;
}

#crear{
    margin:auto;
    color:#333 !important;
    width: 50%;
    margin: auto;
    background:rgba(0,0,0,0.5);
    padding:10px;
    border-radius:5px;
    margin-top:20px;
    text-align: center;
}

a{
    color:#333;
}

h1{
    color:white;
}



#creaUsuari{
    margin:auto;
    color:#474A55;
}



@media only screen and (min-width:900px){
        /* styles for browsers larger than 960px; */
     #cont-log{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        background:rgba(0,0,0,0.5);
        padding:50px;
        border-radius:5px;
        color:black;
    }
    
    #lock{
        background-image: url("/static/images/lock.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        width:10%;
        height: 100px;
        margin:auto;
    }
    
    #createicon{
        background-image: url("/static/images/create.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        width:10%;
        height: 100px;
        margin:auto;
    }


  
}

@media only screen and (max-width:899px){
       /* default iPad screens */
       
       #cont-log{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            background:rgba(0,0,0,0.5);
            padding:30px;
            border-radius:5px;
            color:black;
        }
        
        #lock{
            background-image: url("/static/images/lock.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            width:100px;
            height: 100px;
            margin:auto;
        }
        
        #createicon{
            background-image: url("/static/images/create.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            width:100px;
            height: 100px;
            margin:auto;
        }

     
    }